<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/apple-touch-icon.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicon-32x32.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicon-16x16.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="manifest" href="{{ "/assets/images/site.webmanifest" | prepend: site.baseurl | prepend: site.url }}">
<link rel="mask-icon" href="{{ "/assets/images/safari-pinned-tab.svg"  | prepend: site.baseurl | prepend: site.url }}" color="#6f5daa">
<meta name="apple-mobile-web-app-title" content="olumentary">
<meta name="application-name" content="olumentary">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#eeeeee">